@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
.Nav {
    width: min(1440px, 100vw);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px 0 20px; 
    margin: auto;
}
.NavList{
    display: flex;
    flex-direction: row;
    width: min(400px, 70%);
    justify-content: space-evenly;
}
.NavList>li{
    list-style: none;
    font-size: min(20px, 4vw);
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    height: 15px;
}
.NavList > li:hover {
    border-bottom: 1px solid #ccc;
}
.LogoHolder {
    margin-left: min(20px, 2%);
}
.LogoHolder > p {
font-size: min(30px, 6vw);
font-family: "Manrope", sans-serif;
margin-top: 30px;

}